BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

SortIncludes: CaseSensitive

AccessModifierOffset: -4